/*police*/
p,h1,h2,h3,h4,h5,h6,a,span,label,input,textarea,li,ul,blockquote, address,td,legend,button,select,dt,dd {
	font-family: 'Varela', sans-serif;
}

#extrait {
	height: 100px;
}

#Contenu {
	height: 300px;
}

#logo {
	margin-bottom: 75px;
}

footer {
	margin-top: 50px;
}

#logo img:hover {
	opacity: 0.7;
}
